<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <style>
        {% block style %}
    </style>
</head>
<body>
<header>Book Marks R Us</header>
<div id="target"></div>
<footer> &copy; 2099</footer>
<script>
    //AJAX - ASYNC JAVASCRIPT AND XML
    //XMLHTTPRequest is the JavaScript Command
    //NOT XML - Usually JSON

    var from_django = "{{ cake }}";
    var request = new XMLHttpRequest();
    var target = document.getElementById("target");

    function draw(data) {
        target.innerHTML = ""; //Clear Loading message

        for (var c = 0; c < data.length; c++) {
            var categoryElement = document.createElement("div");
            var category = data[c];
            categoryElement.innerHTML = "<h1>" + category.name + "<h1>"
            for (var p = 0; p < category.pages.length; p++) {
                var page = category.pages[p];
                var pageElement = document.createElement("a");
                pageElement.innerHTML = page.title;
                pageElement.setAttribute("href", page.url);

                categoryElement.appendChild(pageElement)
            }
            target.appendChild(categoryElement);
        }
    }

    function onRequestChange() {
        console.log(request.readyState, request.status);
        if ((request.readyState == 4) && (request.status == 200)) {
            var data = JSON.parse(request.responseText);
            draw(data);
        }
    }

    function fetch() {
        request.onreadystatechange = onRequestChange;
        request.open("GET", "/myapp/data_nested/", true);
        request.send();
    }

    target.innerHTML = "Loading..."; //Set Loading message
    //Fake being slow to load
    setTimeout(fetch, 0);
</script>
</body>
</html>